* {
    box-sizing: unset
}

form {

    font-weight: bold;
    width: 500px;
    height: 450px;
    border: 1px solid rgb(110, 147, 180);
    padding: 60px;
    margin: 150px auto 0 auto;
}

.error {
    padding-bottom: 50px;
    padding-left: 0px;
    color: #FF0000;
}

.elements {
    margin: 12px 0px;
    display: flex;
}

input[type="radio"] {
    margin-left: 30px;
}

.gender {
    margin-top: 15px;
    padding-right: 15px;
    margin-left: 5px;
}

.input {
    margin-left: 20px;
    border: 1px solid rgb(87, 137, 245);
}

.khoa,
.date {
    width: 30%;
    padding: 5px;
}

.label-input {
    /* text-align: center; */
    background: rgb(112, 173, 71);
    padding: 8px 10px;
    border: 2px solid rgb(110, 147, 180);
    width: 23%;
    display: block;
    color: white;
}

.input2 {
    margin-left: 20px;
    width: 60%;
    border: 1px solid rgb(87, 137, 245);
}

.reigster {
    background: rgb(112, 173, 71);
    padding: 8px 10px;
    border: solid 2px rgb(110, 147, 180);
    width: 25%;
    display: block;
    color: white;
    border-radius: 6px;
    margin: 40px auto 0 auto;
}

.btn {
    all: initial;
}

.input-group>.form-control {
    flex: unset;
    border-radius: 0;
}

label {
    font-weight: unset;
}

.upload {
    margin-left: 20px;
    margin-top: 10px;
}

img {
    margin-left: 165px;
    margin-top: -45px;
}


p {
    margin-left: 20px;
    width: 60%;
    margin-top: 10px;
    height: 30px;
}